<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/?utm_source=pwa_homescreen&__pwa=1" target="_blank"> <i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/rajsingh2005/" target="_blank"> <i class="fa-brands fa-linkedin"></i> </a>
            <a href="https://github.com/raj-singh2005/WanderLust-Project.git" target="_blank"> <i class="fa-brands fa-square-github"></i> </a>
        </div>
        <div class="f-info-copyright">&copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>  , 
            <a href="/terms">Terms & Conditions</a>
        </div>
    </div>
</footer>