body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

.navbar{
    height: 4.5rem;
    background-color: white;
    box-shadow: 0px 2px 5px black;
}

.navbar-nav{
    background-color: white;
}
.show .navbar-nav{
    border: none;
    box-shadow: 0px 0px 0px white;
    background-color: white;
   
}
.show{
    border-bottom: 1px solid #222222;
    box-shadow: 0px 2px 5px black;

}
.fa-compass{
    color: #fe424d;
    font-size: 2.5rem;
    margin-left: 5px;
  
}
.container-fluid{
    padding: 0;
}
.navbar-toggler{
    margin-right: 0.8rem;
}
.nav-link{
    color: #222222;
    margin-left: 0.8rem;
    font-size: 1.1rem;
   
    
}
.nav-link:hover{
    color: #fe424d;
}
.logotxt{
    font-family: "Fondamento", cursive;
    font-size: 1.8rem;
    margin-left: 5px;
    font-weight: 600;
   color:  #fe424d;
   
}
.navbar-brand{
    margin-left: 1rem;
    /* text-shadow: 0px 0px 1px black; */
}

.search-btn{
    background-color: #fe424d;
    color: white;
    border: none;
    border-radius: 50%;
  }
  .search-btn:hover{
    background-color: #fe424d;
  }
  .search-input{
    border-radius: 2rem;
    margin-right: 5px;

  }

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
    
}

.f-info{
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1rem;
    text-align: center;
   
}


.f-info-socials i{
    font-size: 1.3rem;
    margin: 0px 0.7rem;
    margin-top: 0.7rem;
    color: black;
}
.f-info-socials{
    width: 100%;
    border-top: 1px solid #554f4f;
}
.index-heading{
    padding: 0.8rem 0rem;
    font-weight: 600;
    opacity: 0.5;
}



/* card */

.listing-card{
    border: none;
    margin-bottom: 3rem;
   
}
.card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.5rem;
}
.card-body{
    padding: 0;
    
}

.price{
    font-size: 1.2rem;
}

/* card effect */

.card-img-overlay{
    color: #ebebeb;
    text-shadow: 1px 1px 4px black;
    opacity: 0.5;
    
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new */

.new-heading{
    padding: 0.8rem 0rem;
    font-weight: 700;
    opacity: 0.5;
}

/* show page */

.show-img{
    height: 42vh;
}

.btns{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

/* maps */

#mapid {
    height: 400px; 
    width: 100%; 
    margin-bottom: 100px;
    /* box-shadow:  0px 0px 8px rgb(46, 49, 51); */
    border-radius: 1rem;
    padding: 1rem;
    border: 5px solid rgb(158, 151, 151);
}


/* index */

#filter{
    text-align: center;
    color: rgb(68, 66, 66);
   
    font-size: 1.2rem;
    opacity: 0.6;
    height: 100%;
    border: none;
    font-weight: 600;
    cursor: pointer;

   
  }

  #filter:hover{
   opacity: 1;
  }

#filter p{
  font-size: 1rem;

}
  #filters{
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
  }

  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid grey ;
    padding: 1rem;
    border-radius: 1.5rem;
    box-shadow: inset 0px 0px 10px grey;
    font-weight: 600;
    color: rgb(49, 47, 47);
  }